# Dependencies
node_modules/
*.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary folders
tmp/
temp/

# Cache directories
.cache/
.parcel-cache/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# API keys and secrets
*.key
*.pem
secrets.json
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/api/congress/route.js
.next/server/app/api/congress/top-traded/route.js
.next/server/app/api/market/route.js
.next/server/app/api/options/route.js
.next/server/app/api/shorts/\[ticker]/route.js
.next/server/app/api/watchlist/route.js
.next/server/app/dashboard/page_client-reference-manifest.js
.next/server/app/dashboard/congress/page_client-reference-manifest.js
.next/server/app/dashboard/congress/page.js
.next/server/app/dashboard/filters/page_client-reference-manifest.js
.next/server/app/dashboard/market/page_client-reference-manifest.js
.next/server/app/dashboard/market/page.js
.next/server/app/dashboard/news/page_client-reference-manifest.js
.next/server/app/dashboard/news/page.js
.next/server/app/dashboard/options/page_client-reference-manifest.js
.next/server/app/dashboard/options/page.js
.next/server/app/dashboard/settings/page_client-reference-manifest.js
.next/server/app/dashboard/settings/page.js
.next/server/app/dashboard/shorts/page_client-reference-manifest.js
.next/server/app/dashboard/shorts/page.js
.next/server/app/dashboard/trading/finbert/page_client-reference-manifest.js
.next/server/app/dashboard/trading/finbert/page.js
.next/server/app/dashboard/watchlist/page_client-reference-manifest.js
.next/server/app/dashboard/watchlist/page.js
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/lucide-react.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/page.js
.next/static/chunks/app/_not-found/page.js
.next/static/chunks/app/dashboard/congress/page.js
.next/static/chunks/app/dashboard/market/page.js
.next/static/chunks/app/dashboard/options/page.js
.next/static/chunks/app/dashboard/settings/page.js
.next/static/chunks/app/dashboard/shorts/page.js
.next/static/chunks/app/dashboard/trading/finbert/page.js
.next/static/chunks/app/dashboard/watchlist/page.js
.next/static/webpack/1d149d6f31949dfe.webpack.hot-update.json
.next/static/webpack/1f32d2b13d3b567a.webpack.hot-update.json
.next/static/webpack/3b8295b480cf024a.webpack.hot-update.json
.next/static/webpack/5e0e40e94da9d766.webpack.hot-update.json
.next/static/webpack/8f9b6b3ca749a96c.webpack.hot-update.json
.next/static/webpack/9bc5d1ce787599d6.webpack.hot-update.json
.next/static/webpack/9f4d608ac527a5df.webpack.hot-update.json
.next/static/webpack/3284bf9feba3df47.webpack.hot-update.json
.next/static/webpack/9547e449f3ac6108.webpack.hot-update.json
.next/static/webpack/4233622e40e8ab28.webpack.hot-update.json
.next/static/webpack/c46673cb4ee02163.webpack.hot-update.json
.next/static/webpack/d8db755a4d3a39a0.webpack.hot-update.json
.next/static/webpack/db9376ab6d417604.webpack.hot-update.json
.next/static/webpack/dd228efb66388487.webpack.hot-update.json
.next/static/webpack/f42d07b96fada41e.webpack.hot-update.json
.next/static/webpack/ff213f8bfce3174e.webpack.hot-update.json
.next/static/webpack/webpack.1d149d6f31949dfe.hot-update.js
.next/static/webpack/webpack.1f32d2b13d3b567a.hot-update.js
.next/static/webpack/webpack.3b8295b480cf024a.hot-update.js
.next/static/webpack/webpack.5e0e40e94da9d766.hot-update.js
.next/static/webpack/webpack.8f9b6b3ca749a96c.hot-update.js
.next/static/webpack/webpack.9bc5d1ce787599d6.hot-update.js
.next/static/webpack/webpack.9f4d608ac527a5df.hot-update.js
.next/static/webpack/webpack.3284bf9feba3df47.hot-update.js
.next/static/webpack/webpack.9547e449f3ac6108.hot-update.js
.next/static/webpack/webpack.4233622e40e8ab28.hot-update.js
.next/static/webpack/webpack.c46673cb4ee02163.hot-update.js
.next/static/webpack/webpack.d8db755a4d3a39a0.hot-update.js
.next/static/webpack/webpack.db9376ab6d417604.hot-update.js
.next/static/webpack/webpack.dd228efb66388487.hot-update.js
.next/static/webpack/webpack.f42d07b96fada41e.hot-update.js
.next/static/webpack/webpack.ff213f8bfce3174e.hot-update.js
.next/static/webpack/app/layout.5e0e40e94da9d766.hot-update.js
.next/static/webpack/app/layout.4233622e40e8ab28.hot-update.js
.next/static/webpack/app/layout.d8db755a4d3a39a0.hot-update.js
.next/types/app/page.ts
.next/types/app/api/congress/route.ts
.next/types/app/api/congress/top-traded/route.ts
.next/types/app/api/market/route.ts
.next/types/app/api/options/route.ts
.next/types/app/api/shorts/\[ticker]/route.ts
.next/types/app/api/watchlist/route.ts
.next/types/app/dashboard/congress/page.ts
.next/types/app/dashboard/market/page.ts
.next/types/app/dashboard/options/page.ts
.next/types/app/dashboard/settings/page.ts
.next/types/app/dashboard/shorts/page.ts
.next/types/app/dashboard/trading/finbert/page.ts
.next/types/app/dashboard/watchlist/page.ts
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/index.pack.gz.old
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/middleware-build-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/api/news/route.js
.next/server/app/dashboard/page_client-reference-manifest.js
.next/server/app/dashboard/filters/page_client-reference-manifest.js
.next/server/app/dashboard/news/page_client-reference-manifest.js
.next/server/app/dashboard/news/page.js
.next/server/app/dashboard/trading/page_client-reference-manifest.js
.next/server/app/dashboard/trading/page.js
.next/server/app/dashboard/websocket-test/page_client-reference-manifest.js
.next/server/app/dashboard/websocket-test/page.js
.next/server/vendor-chunks/lucide-react.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/dashboard/news/page.js
.next/static/chunks/app/dashboard/trading/page.js
.next/static/chunks/app/dashboard/websocket-test/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/development/_buildManifest.js
.next/static/webpack/2adce080cd1e550f.webpack.hot-update.json
.next/static/webpack/3b228782a908ef0f.webpack.hot-update.json
.next/static/webpack/736df985b6316174.webpack.hot-update.json
.next/static/webpack/6177d6dbd7e3aa49.webpack.hot-update.json
.next/static/webpack/b2e60fb4bf825340.webpack.hot-update.json
.next/static/webpack/e099374b50a4f503.webpack.hot-update.json
.next/static/webpack/eba6ae553862a38b.webpack.hot-update.json
.next/static/webpack/f03fef04a14e99c3.webpack.hot-update.json
.next/static/webpack/webpack.2adce080cd1e550f.hot-update.js
.next/static/webpack/webpack.3b228782a908ef0f.hot-update.js
.next/static/webpack/webpack.736df985b6316174.hot-update.js
.next/static/webpack/webpack.6177d6dbd7e3aa49.hot-update.js
.next/static/webpack/webpack.b2e60fb4bf825340.hot-update.js
.next/static/webpack/webpack.e099374b50a4f503.hot-update.js
.next/static/webpack/webpack.eba6ae553862a38b.hot-update.js
.next/static/webpack/webpack.f03fef04a14e99c3.hot-update.js
.next/static/webpack/app/layout.2adce080cd1e550f.hot-update.js
.next/types/app/api/news/route.ts
.next/types/app/dashboard/news/page.ts
.next/types/app/dashboard/trading/page.ts
.next/types/app/dashboard/websocket-test/page.ts
